- name: Install Applications
  ansible.builtin.apt:
    pkg: 
      - flatpak
      - gnome-software-plugin-flatpak
      - xclip
      - zsh
      - keepassxc
      - vlc
      - zeal
      - p7zip-full
    update_cache: yes
    state: present

- name: change user shell to zsh
  ansible.builtin.user:
    name: sam
    shell: /usr/bin/zsh

- name: Check if oh-my-zsh is installed
  ansible.builtin.stat:
    path: /home/sam/.oh-my-zsh
  register: ohmyzsh

- name: Install oh-my-zsh
  ansible.builtin.shell: sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
  become_user: sam
  when: ohmyzsh.stat.islnk is not defined

- name: Install zsh-syntax-highlighting
  ansible.builtin.git: 
    repo: https://github.com/zsh-users/zsh-syntax-highlighting.git 
    dest: /home/sam/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
  become_user: sam

- name: Add the flathub flatpak repository
  community.general.flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://flathub.org/repo/flathub.flatpakrepo

- name: Install Flatpak Applications
  community.general.flatpak:
    name: "{{ item }}"
    state: present
  loop:
    - com.spotify.Client
    - com.mattjakeman.ExtensionManager
    - net.cozic.joplin_desktop
    - org.chromium.Chromium

- name: Check if tfenv is installed
  ansible.builtin.stat:
    path: /home/sam/.tfenv
  register: tfenv

- name: Install tfenv
  ansible.builtin.git: 
    repo: https://github.com/tfutils/tfenv.git 
    dest: /home/sam/.tfenv
  become_user: sam
  when: not tfenv.stat.exists

- name: Check if Visual Studio Code is installed
  ansible.builtin.stat:
    path: /usr/bin/code
  register: vscode

- name: Install Visual Studio Code
  ansible.builtin.apt:
    deb: https://code.visualstudio.com/sha/download?build=stable&os=linux-deb-x64
  when: vscode.stat.islnk is not defined

- name: Check if uv is installed
  ansible.builtin.stat:
    path: /home/sam/.local/bin/uv
  register: uv

- name: Dowload uv Installer
  ansible.builtin.get_url:
    url: https://astral.sh/uv/install.sh
    dest: /home/sam/install.sh
    mode: '0755'
  when: not uv.stat.exists

- name: Install uv
  ansible.builtin.command: /home/sam/install.sh
  become_user: sam
  when: not uv.stat.exists

- name: rm uv installer script
  ansible.builtin.file:
    path: /home/sam/install.sh
    state: absent
  when: not uv.stat.exists

- name: Create sbt92 repo directory
  ansible.builtin.file:
    path: /home/sam/repos/sbt92
    owner: sam
    group: sam
    state: directory

- name: Check if dotfiles are installed
  ansible.builtin.stat:
    path: /home/sam/.dotfiles
  register: dotfiles

- name: Checkout dotfiles
  ansible.builtin.git:
    repo: https://github.com/sbt92/dotfiles.git
    dest: /home/sam/.dotfiles
  become_user: sam
  when: not dotfiles.stat.exists

- name: Install dotfiles
  ansible.builtin.shell: /home/sam/.dotfiles/install.sh
  become_user: sam
  args:
    chdir: /home/sam/.dotfiles/
  when: not dotfiles.stat.exists
