- name: Add Tailscale repository key
  ansible.builtin.apt_key:
    url: https://pkgs.tailscale.com/stable/debian/trixie.noarmor.gpg
    keyring: /usr/share/keyrings/tailscale-archive-keyring.gpg
    state: present
  when: ansible_facts['lsb']['codename'] == "trixie"

- name: Add Tailscale repository
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/tailscale-archive-keyring.gpg] https://pkgs.tailscale.com/stable/debian trixie main"
    state: present
    filename: tailscale
  when: ansible_facts['lsb']['codename'] == "trixie"

- name: Install Home Applications
  ansible.builtin.apt:
    pkg: 
      - hugo
      - kiwix
      - calibre
      - tailscale
      - nextcloud-desktop
    update_cache: yes
    state: present

- name: Install Home Flatpak Applications
  community.general.flatpak:
    name: "{{ item }}"
    state: present
  loop:
    - im.riot.Riot
    - org.subsurface_divelog.Subsurface