- name: Install Work Flatpak Applications
  community.general.flatpak:
    name: "{{ item }}"
    state: present
  loop:
    - com.slack.Slack

- name: Check if OnePassword is installed
  shell: flatpak info com.onepassword.OnePassword
  register: OnePassword
  ignore_errors: true 
  changed_when: false

- name: Install OnePassword Flatpak Application
  community.general.flatpak:
    name: https://downloads.1password.com/linux/flatpak/1Password.flatpakref
    state: latest
  when: OnePassword.rc !=0

- name: Create work repo directory
  ansible.builtin.file:
    path: /home/sam/repos/madetech
    owner: sam
    group: sam
    state: directory