- name: Add Source list
  ansible.builtin.copy:
    src:  debian.sources
    dest: /etc/apt/sources.list.d/debian.sources
    owner: root
    group: root
    mode: '0644'

- name: Remove legacy source list
  ansible.builtin.file:
    path: /etc/apt/sources.list
    state: absent

- name: Add debian-backports repository
  ansible.builtin.copy:
    src:  debian-backports.sources
    dest: /etc/apt/sources.list.d/debian-backports.sources
    owner: root
    group: root
    mode: '0644'

- name: Install Applications
  ansible.builtin.apt:
    pkg: 
      - git
      - vim
      - curl
      - rsync
      - qemu-system
      - libvirt-clients
      - libvirt-daemon-system
      - virt-manager
      - ufw
    update_cache: yes
    state: present

- name: Append kvm group 
  ansible.builtin.user:
    name: sam
    groups: libvirt
    append: true

- name: Append docker group 
  ansible.builtin.user:
    name: sam
    groups: docker
    append: true

- name: Check if awscli is installed
  ansible.builtin.stat:
    path: /usr/local/bin/aws
  register: aws

- name: Download awscli
  ansible.builtin.unarchive:
    src: https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip
    dest: /home/sam/Downloads/
    remote_src: yes
  when: aws.stat.islnk is not defined

- name: Install awscli
  ansible.builtin.shell: /home/sam/Downloads/aws/install
  when: aws.stat.islnk is not defined

- name: rm aws install dir
  ansible.builtin.file:
    path: /home/sam/Downloads/aws
    state: absent